body
{
    background-color: black;
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



    h1
{
    transition: 0.3s;
}
h1:hover
        {
            transform: translateX(20px);
            color: aqua;
        }



h1,p 
{
    color: aliceblue;
}
section 
{
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: #1a1a1a;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,255,255,0.7);
    padding: 20px;
}
h1,p
{
font-size: x-large;
}

a{
    color: chartreuse;
    text-decoration: none;
    display: inline-block;
    padding: 12px 25px;
    background-color: #00ffff;
    color: black;
    transition: 0.3s;
    font-weight: bold;
    margin-top: 20px;
}
a:hover
{
background-color: chartreuse;
transform: scale(1.1);
}

.reedy
{
    display: block;
font-weight: bold;
transition: 0.3s;
    width: fit-content; 
    margin: 0 auto;

}
.reedy:hover
{
background-color: rgb(255, 0, 13);
transform: scale(1.3);
}

