body
{
    background-color: black;
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1
{
    transition: 0.3s;
}
h1:hover
        {
            transform: translateX(20px);
            color: aqua;
        }

h1,p 
{
    color: aliceblue;
}
section 
{
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: #220d55;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,255,255,0.7);
    padding: 20px;
}
a
{
text-align: center;
color: antiquewhite;
background-color: blue;
display: inline-block;
margin-top:  20px;
padding: 10px 20px;
transition: 0.3s ease;
font-weight: bold;
border-radius: 8px;
text-decoration: none;
}
a:hover
{
    color:rgb(255, 145, 0);
    transform: scale(1.1);
    
}
h1,p,a
{
font-size: x-large;
}
section
{
background: linear-gradient(135deg,#2c038b, #060507 );
}
button
{
transition: 0.3s ease;

}
button:hover
{
    color:rgb(255, 145, 0);
    transform: scale(1.1);
    
}
input:focus
{
background-color: #a04242;
color: yellow;
}
