body
{
    background-color: black;
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



    h1
{
    transition: 0.3s;
}
h1:hover
        {
            transform: translateX(20px);
            color: aqua;
        }



h1,p 
{
    color: aliceblue;
}
section 
{
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: #1a1a1a;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,255,255,0.7);
    padding: 20px;
}
a, h1,p{
    font-size: x-large;
}
a
{
text-decoration: none;
color: black;
display: inline-block;
padding: 10px 22px;
background-color: #bae010;
font-weight: bold;
transition: 0.3s ease,  text-shadow 0.6s ease;
}
a:hover
{
transform: scale(1.1);
text-shadow:0 0 20px brown;
}

