body
{
    background-color: black;
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1
{
    transition: 0.3s;
}
h1:hover
        {
            transform: translateX(20px);
            color: aqua;
        }

h1,p 
{
    color: aliceblue;
}
section 
{
    text-align: center;
    width: 500px;
    height: 500px;
    background-color: #220d55;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,255,255,0.7);
    padding: 20px;
}
a
{
text-align: center;
color: antiquewhite;
background-color: blue;
display: inline-block;
margin-top: 20px;
}
a :hover
{
    color:chartreuse
}
h1,p,a
{
font-size: x-large;
}